#add-obj-fl-ap-nw-sale{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    border: 1px solid rgba(68, 83, 101, 0.1);
    background: #FFF;
    -moz-box-shadow: 0 25px 45px rgba(68, 83, 101, 0.3);
    -webkit-box-shadow: 0 25px 45px rgba(68, 83, 101, 0.3);
    box-shadow: 0 25px 45px rgba(68, 83, 101, 0.3);
    margin-bottom: 120px;
}
.bts-cont-mar-offset{
    margin-right: 5px;
}
#add-obj-fl-ap-nw-sale > div > div > div.col-sm-2 > div > div > label:nth-child(2){
    padding-right: 16px;
}
#search-time-advert-settings > div > a,
#search-time-advert-settings > div > ul li,
#search-currency-type > div > a,
#search-currency-type > div > ul li,
#search-price-type > div > a,
#search-price-type > div > ul li
{
    font-size: 13px !important;
    padding: 4px 10px !important;
    background-position: 97% 13px;
}
#search-object-state-settings > div > a,
#search-object-state-settings > div > ul li{
    font-size: 13px !important;
    padding: 4px 10px 5px !important;
    background-position: 97% 13px;
}
.fm-sm{
    font-size: 13px !important;
    padding: 4px 10px 5px!important;
    height: 28px;
}


#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(2) label,
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(3) label,
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(3),
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(3) > div.padding-horizontal-10-px > div,
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(3) > div.padding-horizontal-10-px > div > label,
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(3) > div.btn-group > label,
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(3) > div.btn-group,
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(4) > div.padding-horizontal-10-px > div > label{
    width: 100%;
    border-radius: 2px;
    margin: 4px 0;
}
#add-obj-fl-ap-nw-sale h4{
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
}
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(4) > div.btn-group,
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(5) > div.btn-group{
    padding-top: 12px;
}
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(4) > div.btn-group,
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(5) > div.btn-group,
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(4) > div.btn-group > label,
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(5) > div.btn-group > label{
    width: 100%;
}
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(2) > div:nth-child(3),
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(4) > div.btn-group,
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(5) > div.btn-group{
    border-top: 1px solid #DDD;
}
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(3) > div.btn-group{
    margin-top: -10px;
}
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(3) > div.btn-group,
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(3) > div.btn-group > div > div.btn-group{
    border-top: 1px solid #DDD;
    padding-top: 2px;
}
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(5) > div.padding-horizontal-10-px > div > label,
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(5) > div.padding-horizontal-10-px > div{
    width: 100%;
    border-radius: 2px;
    margin: 4px 0;
}

#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div.col-sm-9 > div{
    background-color: rgba(178, 220, 252, 0.34);
    padding: 10px !important;
    border-radius: 4px;
}

#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(6) > div > div{
    width: 100%;
}
#add-obj-fl-ap-nw-sale > div:nth-child(2) > div > div:nth-child(6) > div > div label{
    width: 100%;
    border-radius: 2px;
    margin: 4px 0;
}

#add-obj-fl-ap-nw-sale > div > div > div > div > label.btn-primary,
#add-obj-fl-ap-nw-sale > div > div > div > div > div > label.btn-primary{
    background-color: #FFF !important;
    color: #222;
    border: 1px solid #3071A9;
}